* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
}

section {
  margin-top: 100px;
  padding: 48px 0;
}

section h2 {
  margin-bottom: 16px;
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #112597;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  border-radius: 6px;
}

.form-campo {
  margin-bottom: 16px;
}

.form-campo label {
  font-weight: bold;
  display: block;
}

.form-campo input,
.form-campo textarea {
  width: 100%;
  display: block;
  padding: 8px;
}

.form-campo textarea {
  resize: none;
  height: 120px;
}

form {
  max-width: 400px;
}

form button {
  max-width: 120px;
}
