body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px;
  max-width: 100%;
}

label {
  display: block;
  color: #555;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='number'] {
  width: 370px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

input[type='number']:focus {
  border-color: #007bff;
}

input[type='submit'] {
  width: 400px;
  padding: 12px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type='submit']:hover {
  background-color: #0056b3;
}

#mensagem {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

#mensagem.success {
  color: #1ac21a;
}

#mensagem.error {
  color: #f04124;
}
